@*@model DevExpressDemo.ModelsDTO.UserInfo*@
@{
    ViewData["Title"] = "Index";
}


@*<div class="container">
    <form asp-action="LoginUser"asp-controller="Home">
        <div class="form-group">
            <label asp-for="UserName" class="form-control">username</label>
            <input asp-for="UserName" class="form-control"/>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="form-control">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BranchID" class="form-control">BranchId</label>
            <input asp-for="BranchID" class="form-control"/>
            <span asp-validation-for="BranchID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-success"/>
        </div>
        <label>@Html.Raw(ViewBag.message)</label>
    </form>
</div>*@